.venv/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

.pytest_cache/
.coverage
.coverage.*
htmlcov/

tests/
flyway/

.env
.env.*
.git/
.gitignore
.vscode/
.idea/
.DS_Store
Thumbs.db
README.md
Dockerfile
.dockerignore
